In [15]:
import sqlite3

In [16]:
conn = sqlite3.connect("sms.db")

In [17]:
conn.execute("PRAGMA foreign_keys = ON")
cur = conn.cursor()

In [18]:
cur.execute('''
CREATE TABLE STUDENTS(
            sid INT PRIMARY KEY,
            sname CHAR(20),
            email varchar(30),
            city CHAR(20)
            )
''')
conn.commit()

In [19]:
cur.execute('''
CREATE TABLE COURSE(
            cid INT PRIMARY KEY,
            cname CHAR(20),
            price INT,
            sid INT,
            FOREIGN KEY (sid) REFERENCES STUDENTS(sid) ON DELETE CASCADE
            )
''')
conn.commit()

In [20]:
cur.execute('''
CREATE TABLE TRANSACTIONS(
            tid INT PRIMARY KEY,
            cid INT,
            sid INT,
            FOREIGN KEY (sid) REFERENCES STUDENTS(sid) ON DELETE CASCADE,
            FOREIGN KEY (cid) REFERENCES COURSE(cid) ON DELETE CASCADE
            )
''')
conn.commit()

In [8]:
cur.execute("DROP TABLE IF EXISTS STUDENTS")
conn.commit()

cur.execute("DROP TABLE IF EXISTS COURSE")
conn.commit()

cur.execute("DROP TABLE IF EXISTS TRANSACTIONS")
conn.commit()

OperationalError: no such table: main.STUDENTS

In [13]:
conn.close()
import os

In [14]:
# Removes the entire db
os.remove('sms.db')